*, ::after, ::before {
    box-sizing: unset;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.content {
    padding: 20px;
    border: none;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table td {
    padding: 10px;
    vertical-align: center;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="radio"] {
    margin: 1px 0;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: calc(32% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fffcdc;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 55px;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: 700;
  }

